@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div class="home-main-text text-center">
            <h1 class="text-success">MERCURII</h1>
            <p>
                <b>
                    Useful service to keep touch with dear people for you
                </b>
            </p>
            <p>
                Maken exactly for you
            </p>
            <p>
                <h3 class="text-success">
                    Let's get it started!
                </h3>
            </p>
            <p class="text-center">
                <a href="@Url.Action("Login","Account")" class="btn btn-success">Sign In</a>
                <a href="@Url.Action("SignUp","Account")" class="btn btn-success">Sign Out</a>
            </p>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>